# Sources: https://dev.to/amalv/how-to-setup-semantic-release-for-a-react-app-or-a-next-js-app-25c1
# TODO: Seperate job for https://github.com/marketplace/actions/commit-linter
# TODO: https://github.com/semantic-release/commit-analyzer
# Revert releases
# git revert HEAD~1 HEAD
# Revert "feat: allow bacon in g-actions" => revert: "feat: allow bacon in g-actions"
name: Main
on:
  push:
    branches:
      - master
jobs:
  commitlint:
    name: Lint commit messages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v3
  main:
    name: Build & Release
    runs-on: ubuntu-latest
    needs: commitlint
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 12

      - name: Save current date
        run: |
          date > time.txt

      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
          author_name: GitHub Actions Bot
          message: "chore(release): build dist"
          add: "*.txt"

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
